$primary: #1989fa;
$blue-light: #ECF5FF;
$danger: #791a15;
$bgc: #f1f1f1;
$global-bgc: #f4f4f4;
$gray-1: hsla(0,0%,59.2%,.1);
$gray-2: #dcdcdc;
$gray-3: #909090;
$gray-4: #666;
$gray-5: #333;
$white: white
