html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #999;
}
p {
  line-height: 1.5em;
}

$colors: (
  'primary': #007FFF,
  'white': #fff,
  'write-1': #f4f5f5,
  'grey': #F4F5F5,
  'grey-1': #909090,
  'grey-2': #333,
  'dark': #222,
  'black': #000,
  
);


@each $colorKey, $color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }
  .bg-#{$colorKey} {
    background-color: $color;
  }
}



$font-sizes: (
  xxs: 0.6154,
  xs: 0.7692,
  //10px
    sm: 0.9231,
  //12px
    md: 1,
  //13px
    lg: 1.0769,
  //14px
    xl: 1.2308,
  //16px,,,,
)